body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.column {
  /*height: 100px;*/
  margin-left: 10px;
  margin-right: 10px;
}

.data-container {
  margin: auto;
  width: 70%;
  height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid rgb(121, 121, 121);
}
